/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.vbox-border {
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}
